_site
_site_test
.jekyll-metadata
node_modules
vendor
npm-debug.log
assets/instantsearch/instantsearch*
Gemfile.lock
.DS_Store
assets/.DS_Store
assets/img/.DS_Store
assets/img/midi/.DS_Store
docs/.DS_Store
docs/en/.DS_Store
docs/en/editor/.DS_Store