<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="https://flat.io/img/favicon-256x256.png" sizes="256x256"/>
  <link rel="apple-touch-icon" href="https://flat.io/img/favicon-512x512.png">
  <meta name="theme-color" content="#6E90F6">
  {% assign lvl = page.url | append:'X' | split:'/' | size %}
  {% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
  <link href="/help/assets/css/index.css?1" rel="stylesheet" type="text/css">
  <link href="/help/assets/instantsearch/instantsearch.min.css" rel="stylesheet" type="text/css">
  <link href="/help/assets/instantsearch/instantsearch-theme-algolia.min.css" rel="stylesheet" type="text/css">
  <script src="/help/assets/instantsearch/instantsearch.min.js"></script>
  <title>{{page.ptitle | default: page.title}}</title>
  {% seo title=false %}
</head>
