<div class="sidenav">
  <a class="nav-title" href="{{site.baseurl}}/en/education/">Get started</a>
  <div class="items">
    <a href="{{site.baseurl}}/en/education/" class="{% if page.pid == 'edu' %}active{% endif %}">Overview</a>
    <a href="{{site.baseurl}}/en/education/flat-for-education-tutorial.html" class="{% if page.pid == 'step-by-step' %}active{% endif %}">Tutorial</a>
    <a href="{{site.baseurl}}/en/education/faq.html" class="{% if page.pid == 'faq' %}active{% endif %}">FAQ</a>
  </div>

  <div class="nav-title">Classes</div>
  <div class="items">
    {%- if page.locale == 'en' %}
    <a href="/help/en/education/create-new-class.html" class="{% if page.pid == 'new-class' %}active{% endif %}">Create a class</a>
    <a href="/help/en/education/invite-students.html" class="{% if page.pid == 'invite-students' %}active{% endif %}">Invite students</a>
    {%- elsif page.locale == 'es-es' %}
    <a href="/help/es-es/education/crear-una-nueva-clase.html" class="{% if page.pid == 'new-class' %}active{% endif %}">Crear una clase</a>
    <a href="/help/es-es/education/agrega-alumnos.html" class="{% if page.pid == 'invite-students' %}active{% endif %}">Agrega alamnos</a>
    {%- elsif page.locale == 'es-ar' %}
    <a href="/help/es-ar/education/crear-una-nueva-clase.html" class="{% if page.pid == 'new-class' %}active{% endif %}">Crear una clase</a>
    <a href="/help/es-ar/education/agrega-alumnos.html" class="{% if page.pid == 'invite-students' %}active{% endif %}">Agrega alamnos</a>
    {%- elsif page.locale == 'fr' %}
    <a href="/help/fr/education/creer-une-classe.html" class="{% if page.pid == 'new-class' %}active{% endif %}">Créer une classe</a>
    <a href="/help/fr/education/inviter-des-etudiants.html" class="{% if page.pid == 'invite-students' %}active{% endif %}">Ajouter des élèves</a>
    {%- endif %}
    <a href="/help/en/education/archive-a-class.html" class="{% if page.pid == 'archive-class' %}active{% endif %}">Archive a class</a>
  </div>


  {%- if page.locale == 'en' %}<a class="nav-title" href="/help/en/education/assignments-activities.html">Assignments</a>
  {%- elsif page.locale == 'es-es' %}<a class="nav-title" href="/help/es-es/education/tareas-y-actividades.html">Actividades</a>
  {%- elsif page.locale == 'es-ar' %}<a class="nav-title" href="/help/es-ar/education/tareas-y-actividades.html">Actividades</a>
  {%- elsif page.locale == 'fr' %}<a class="nav-title" href="/help/fr/education/devoirs-et-activites.html">Activités & Devoirs</a>
  {%- endif %}
  </a>
  <div class="items">
    {%- if page.locale == 'en' %}
    <a href="/help/en/education/assignments-activities.html" class="{% if page.pid == 'activities' %}active{% endif %}">Create an assignment</a>
    <a href="/help/en/education/assignments-activities.html#2-pick-your-assignment-type">Use a score as a template</a>
    <a href="/help/en/education/assignments-activities.html#4-extra-options">Schedule an assignment</a>
    {%- elsif page.locale == 'es-es' %}
    <a href="/help/es-es/education/tareas-y-actividades.html" class="{% if page.pid == 'activities' %}active{% endif %}">Tareas y actividades</a>
    <a href="/help/es-es/education/tareas-y-actividades.html#modelo">Partitura como modelo</a>
    <a href="/help/es-es/education/tareas-y-actividades.html#fecha-de-vencimiento-y-publicación">Fecha de vencimiento y publicación</a>
    {%- elsif page.locale == 'es-ar' %}
    <a href="/help/es-ar/education/tareas-y-actividades.html" class="{% if page.pid == 'activities' %}active{% endif %}">Tareas y actividades</a>
    <a href="/help/es-ar/education/tareas-y-actividades.html#modelo">Partitura como modelo</a>
    <a href="/help/es-ar/education/tareas-y-actividades.html#fecha-de-vencimiento-y-publicación">Fecha de vencimiento y publicación</a>
    {%- elsif page.locale == 'fr' %}
    <a href="/help/fr/education/devoirs-et-activites.html" class="{% if page.pid == 'activities' %}active{% endif %}">Créer une activité</a>
    <a href="/help/fr/education/devoirs-et-activites.html#template">Utiliser une partition en template</a>
    <a href="/help/fr/education/devoirs-et-activites.html#date-de-distribution-et-date-butoire">Date de publication & butoire</a>
    {%- endif %}
    {%- if page.locale == 'fr' %}
    <a href="/help/fr/education/evaluation-des-devoir.html" class="{% if page.pid == 'reviews' %}active{% endif %}">Évaluation des devoirs</a>
    {%- else %}
    <a href="/help/en/education/review-assignments-activities.html" class="{% if page.pid == 'reviews' %}active{% endif %}">Review and give feedback</a>
    {%- endif %}
  </div>

  {%- if page.locale == 'fr' %}
  <div class="nav-title">Étudiant</div>
  <div class="items">
    <a href="/help/fr/education/affichage-cote-etudiant.html" class="{% if page.pid == 'student-view' %}active{% endif %}">Affichage côté étudiant</a>
  </div>
  {%- else %}
  <div class="nav-title">Student</div>
  <div class="items">
    <a href="/help/en/education/student-view.html" class="{% if page.pid == 'student-view' %}active{% endif %}">Student view</a>
  </div>
  {%- endif %}

  <div class="nav-title">Admin</div>
  <div class="items">
    <a href="/help/en/education/invite-teachers.html" class="{% if page.pid == 'invite-teachers' %}active{% endif %}">Invite Teachers</a>
    <a href="/help/en/education/remove-students-organization.html" class="{% if page.pid == 'remove-students-orga' %}active{% endif %}" >Remove students</a>
    <a href="/help/en/education/school-privacy-organization.html" class="{% if page.pid == 'school-privacy-orga' %}active{% endif %}" >School privacy</a>
  </div>

  <a class="nav-title" href="{{site.baseurl}}/en/education/google-classroom/">Google Classroom</a>
  <div class="items">
    <a href="{{site.baseurl}}/en/education/google-classroom/" class="{% if page.pid == 'gc-intro' %}active{% endif %}">Introduction</a>
    <a href="{{site.baseurl}}/en/education/google-classroom/setup-course.html" class="{% if page.pid == 'gc-setup-course' %}active{% endif %}">Setup a course</a>
    <a href="{{site.baseurl}}/en/education/google-classroom/create-music-notation-assignment.html" class="{% if page.pid == 'gc-create-assignment' %}active{% endif %}">Create an assignment</a>
    <a href="{{site.baseurl}}/en/education/google-classroom/student-experience.html" class="{% if page.pid == 'gc-student-experience' %}active{% endif %}">Experience as student</a>
    <!-- <a href="">Review submissions</a> -->
    <a href="{{site.baseurl}}/en/education/google-classroom/faq.html" class="{% if page.pid == 'gc-faq' %}active{% endif %}">FAQ</a>
  </div>

  <a class="nav-title" href="{{site.baseurl}}/en/education/microsoft-teams/">Microsoft Teams</a>
  <div class="items">
    <a href="{{site.baseurl}}/en/education/microsoft-teams/" class="{% if page.pid == 'teams-intro' %}active{% endif %}">Introduction</a>
    <a href="{{site.baseurl}}/en/education/microsoft-teams/app.html" class="{% if page.pid == 'teams-apps' %}active{% endif %}">Teams App</a>
    <a href="{{site.baseurl}}/en/education/microsoft-teams/setup-course.html" class="{% if page.pid == 'teams-setup-course' %}active{% endif %}">Setup a course</a>
    <a href="{{site.baseurl}}/en/education/microsoft-teams/admin-consent.html" class="{% if page.pid == 'teams-setup-admin' %}active{% endif %}">Admin consent</a>
  </div>

  <a class="nav-title" href="{{site.baseurl}}/en/education/canvas-lms/">Canvas LMS</a>
  <div class="items">
    <a href="{{site.baseurl}}/en/education/canvas-lms/" class="{% if page.pid == 'canvas-intro' %}active{% endif %}">Introduction</a>
    <a href="{{site.baseurl}}/en/education/canvas-lms/setup-configuration.html"
      class="{% if page.pid == 'canvas-setup' %}active{% endif %}">Setup & Configuration</a>
    <a href="{{site.baseurl}}/en/education/canvas-lms/sso.html"
      class="{% if page.pid == 'canvas-sso' %}active{% endif %}">SSO with Canvas</a>
    <a href="{{site.baseurl}}/en/education/canvas-lms/embed.html"
      class="{% if page.pid == 'canvas-embed' %}active{% endif %}">Embed music notation</a>
    <a href="{{site.baseurl}}/en/education/canvas-lms/assignments.html"
      class="{% if page.pid == 'canvas-assignments' %}active{% endif %}">Assignments</a>
  </div>

  <div class="nav-title">Other Integrations</div>
  <div class="items">
    <a href="{{site.baseurl}}/en/education/schoology/" class="{% if page.pid == 'schoology' %}active{% endif %}">Schoology</a>
    <a href="https://blog.flat.io/new-partnership-with-clever/">Clever</a>
    <a href="{{site.baseurl}}/en/general/flat-for-google-docs-music-notation.html">Google Docs & Slides</a>
  </div>

  <div class="nav-title">Go further</div>
  <div class="items">
    <a href="https://blog.flat.io/certified-lti-provider-use-flat-with-your-favorite-lms/">Flat as a LTI Provider</a>
    <a href="https://blog.flat.io/flat-for-education-api/">Education API</a>
    <a href="{{site.baseurl}}/en/music-notation-embed">Embed your scores anywhere</a>
  </div>
</div>