<div class="sidenav">
  <a class="nav-title" href="{{site.baseurl}}/en/music-notation-software/">Get started</a>
  <div class="items">
    <a href="{{site.baseurl}}/en/music-notation-software/create-your-first-music-score.html" class="{% if page.pid == 'first-score' %}active{% endif %}">Create your first score</a> <!-- 'editor.import' -->
    <a href="{{site.baseurl}}/en/music-notation-software/discover-the-interface.html" class="{% if page.pid == 'discover-interface' %}active{% endif %}">Discover the interface</a>
    <a href="{{site.baseurl}}/en/music-notation-software/inputting-your-first-notes.html" class="{% if page.pid == 'first-notes' %}active{% endif %}">Inputting your first notes</a>
    <a href="">Add a time signature</a> <!-- 'editor.timesig' -->
    <a href="">Add a key signature</a> <!-- 'editor.keysig' -->
    <a href="https://flat.io/support/editor?m=shortcuts">Keyboard shortcuts</a>
  </div>

  <div class="nav-title">App features</div>
  <div class="items">
    <a>Playback</a> <!-- 'editor.player','editor.volume','editor.reverb','editor.swing','editor.deactivatemetronome' -->
    <a href="https://blog.flat.io/introducing-smart-history/">Smart History</a> <!-- 'editor.smarthistory' -->
    <a>Share and collaborate</a> <!-- 'editor.share','editor.sharepeople' -->
    <a href="https://blog.flat.io/get-the-most-of-the-new-inline-comments/">Inline comments</a> <!-- 'editor.inlinecomments' -->
  </div>

  <div class="nav-title">Document</div>
  <div class="items">
    <a>Instruments</a> <!-- 'editor.instruments' -->
    <a>Print and export</a> <!--  'editor.export', 'editor.print', 'editor.printpart','editor.multimeasurerests' -->
  </div>

  <div class="nav-title">Note mode</div>
  {% if page.editormode == 'notes' %}
  <div class="items">
    <a href="">Inputting notes</a> <!-- 'editor.addnote' / 'editor.changeduration' -->
    <a>Dotted notes</a> <!-- 'editor.dotted' -->
    <a>Grace notes</a> <!-- 'editor.graceNote' -->
  </div>
  {% endif %}

  <div class="nav-title">Articulation mode</div>
  {% if page.editormode == 'articulation' %}
  {% endif %}

  <div class="nav-title">Dynamic mode</div>
  {% if page.editormode == 'dynamic' %}
  {% endif %}

  <div class="nav-title">Measure mode</div>
  {% if page.editormode == 'measure' %}
  {% endif %}

  <div class="nav-title">Text mode</div>
  {% if page.editormode == 'text' %}
  <div class="items">
    <a>Lyrics</a> <!--'editor.lyrics','editor.multilineslyrics','editor.lyricsspaces','editor.lyricshyphens'-->
    <a>Chords</a> <!--'editor.chords'-->
    <a>Expressions & Annotations</a> <!-- 'editor.annotation' -->
  </div>
  {% endif %}

  <div class="nav-title">MIDI</div>
  <div class="items">
    <a href="https://flat.io/midi-devices/setup?ref=help">Setup your MIDI device</a>
    <a>Get started with your Device on Flat</a> <!-- 'editor.midistart' -->
    <a href="https://blog.flat.io/introducing-the-web-midi-output/">MIDI Output</a> <!-- 'editor.midioutput' -->
  </div>
</div>