<div class="sidenav">
  <div class="items">
    <a class="nav-title" href="{{site.baseurl}}/ja/music-notation-software/">はじめに</a>
    <a href="{{site.baseurl}}/ja/music-notation-software/" class="{% if page.pid == 'overview' %}active{% endif %}">Flatについて</a>
    <a href="{{site.baseurl}}/ja/music-notation-software/step-by-step-tutorial.html" class="{% if page.pid == 'tutorial' %}active{% endif %}">チュートリアル</a>
    <a href="{{site.baseurl}}/ja/music-notation-software/スコアの作成.html" class="{% if page.pid == 'first-score' %}active{% endif %}">スコアの作成</a>
    <a href="{{site.baseurl}}/en/music-notation-software/import.html" class="{% if page.pid == 'import' %}active{% endif %}">スコア・タブ譜のインポート</a>
    <a href="{{site.baseurl}}/ja/music-notation-software/エディタを使用する.html" class="{% if page.pid == 'discover-interface' %}active{% endif %}">エディタを使用する</a>
    <a href="{{site.baseurl}}/ja/music-notation-software/拍子記号と調号.html" class="{% if page.pid == 'tuto-timesig' %}active{% endif %}">拍子記号と調号</a>
    <a href="{{site.baseurl}}/ja/music-notation-software/音符の入力.html" class="{% if page.pid == 'first-notes' %}active{% endif %}">音符の入力</a>
    <a href="{{site.baseurl}}/ja/music-notation-software/タブ譜.html" class="{% if page.pid == 'tabs' %}active{% endif %}">タブ譜</a>
    <a href="{{site.baseurl}}/ja/music-notation-software/custom-keyboard-shortcuts.html" class="{% if page.pid == 'kb-shortcuts' %}active{% endif %}">カスタムキーボードショートカット</a>
    <a href="{{site.baseurl}}/ja/music-notation-software/よくある質問.html" class="{% if page.pid == 'faq' %}active{% endif %}">よくある質問</a>
  </div>

  <div class="items">
    <a class="nav-title" href="{{site.baseurl}}/en/music-notation-software/notation-features.html">Music notation tools</a>
    <a href="{{site.baseurl}}/en/music-notation-software/instruments.html" class="{% if page.pid == 'instruments' %}active{% endif %}">Instruments</a>
    <a href="{{site.baseurl}}/en/music-notation-software/notation-features.html#layout-and-styles" class="{% if page.pid == 'layout' %}active{% endif %}">Layout</a>
    <a href="{{site.baseurl}}/en/music-notation-software/notation-features.html#document">Toolbar: Document</a>
    <a href="{{site.baseurl}}/en/music-notation-software/notation-features.html#note">Toolbar: Note</a>
    <a href="{{site.baseurl}}/en/music-notation-software/notation-features.html#tab">Toolbar: Tab</a>
    <a href="{{site.baseurl}}/en/music-notation-software/notation-features.html#articulation">Toolbar: Articulation</a>
    <a href="{{site.baseurl}}/en/music-notation-software/notation-features.html#ornament">Toolbar: Ornament</a>
    <a href="{{site.baseurl}}/en/music-notation-software/notation-features.html#dynamic">Toolbar: Dynamic</a>
    <a href="{{site.baseurl}}/en/music-notation-software/notation-features.html#measure">Toolbar: Measure</a>
    <a href="{{site.baseurl}}/en/music-notation-software/notation-features.html#text">Toolbar: Text</a>
    <a href="{{site.baseurl}}/en/music-notation-software/transpose.html" class="{% if page.pid == 'transpose' %}active{% endif%}">Transpositions</a>
    <a href="{{site.baseurl}}/en/music-notation-software/music-font-smufl.html" class="{% if page.pid == 'music-fonts' %}active{% endif%}">Music fonts</a>
    <a href="{{site.baseurl}}/en/music-notation-software/text-styles.html" class="{% if page.pid == 'text-styles' %}active{% endif%}">Text styles</a>
    <a href="{{site.baseurl}}/en/music-notation-software/notes-heads-automatic-modes.html" class="{% if page.pid == 'nodesheads-modes' %}active{% endif%}">Notes heads modes</a>
    <a href="{{site.baseurl}}/en/music-notation-software/color-notes.html" class="{% if page.pid == 'note-color' %}active{% endif%}">Color music notes</a>
    <a href="{{site.baseurl}}/en/music-notation-software/blank-measure-leadsheet.html" class="{% if page.pid == 'blank-measure' %}active{% endif%}"> Blank Measure</a> 
  </div>

  <div class="items">
    <div class="nav-title">App features</div>
    <a href="{{site.baseurl}}/en/music-notation-software/playback.html" class="{% if page.pid == 'playback' %}active{% endif%}">Audio Playback</a>
    <a href="{{site.baseurl}}/en/music-notation-software/metronome.html" class="{% if page.pid == 'metronome' %}active{% endif%}">Metronome</a>
    <a href="{{site.baseurl}}/en/music-notation-software/print-export.html" class="{% if page.pid == 'print-export' %}active{% endif %}">Print and Export</a> <!--  'editor.export', 'editor.print', 'editor.printpart','editor.multimeasurerests' -->
    <a href="{{site.baseurl}}/en/music-notation-software/share-collaborate.html" class="{% if page.pid == 'share-collaborate' %}active{% endif%}">Share and collaborate</a> <!-- 'editor.sharepeople' -->
    <a href="{{site.baseurl}}/en/music-notation-software/history.html" class="{% if page.pid == 'history' %}active{% endif%}">History</a>
    <a href="{{site.baseurl}}/en/music-notation-software/offline.html" class="{% if page.pid == 'offline' %}active{% endif%}">Offline</a>
    <a href="{{site.baseurl}}/en/music-notation-software/synchronize-external-recording.html" class="{% if page.pid == 'sync-recording' %}active{% endif%}">Sync Audio Recordings</a>
    <a href="{{site.baseurl}}/en/music-notation-software/inline-comments.html" class="{% if page.pid == 'inline-comments' %}active{% endif%}">Inline comments</a>
    <a href="{{site.baseurl}}/en/music-notation-embed/">Embed on the web</a>
  </div>

  <div class="items">
    <div class="nav-title">MIDI</div>
    <a href="{{site.baseurl}}/en/music-notation-software/midistart.html">MIDI Features Introduction</a>
    <a href="{{site.baseurl}}/en/music-notation-software/midi-troubleshooting.html">MIDI Troubleshooting</a>
    <a href="{{site.baseurl}}/en/music-notation-software/midioutput.html">MIDI Output Setup</a> <!-- 'editor.midioutput' -->
  </div>
</div>