<div class="sidenav">
  <a class="nav-title" href="{{site.baseurl}}/help/en/music-notation-software/">Get started</a>
  <div class="items">
    <a href="{{site.baseurl}}/help/en/music-notation-software/create-your-first-music-score" class="{% if page.pid == 'first-score' %}active{% endif %}">Create your first score</a> <!-- 'editor.import' -->
    <a href="{{site.baseurl}}/help/en/music-notation-software/discover-the-interface" class="{% if page.pid == 'first-score' %}active{% endif %}">Discover the interface</a>
    <!-- 'editor.addnote' / 'editor.changeduration' -->
    <a href="">Inputting your first notes</a>
    <!-- 'editor.timesig' -->
    <a href="">Add a time signature</a>
    <!-- 'editor.keysig' -->
    <a href="">Add a key signature</a>
    <a href="">Keyboard shortcuts</a>
  </div>

  <div class="nav-title">App features</div>
  <div class="items">
    <a>Playback</a> <!-- 'editor.player','editor.volume','editor.reverb','editor.swing','editor.deactivatemetronome' -->
    <a>Smart History</a> <!-- 'editor.smarthistory' -->
    <a>Share and collaborate</a> <!-- 'editor.share','editor.sharepeople' -->
    <a>Inline comments</a> <!-- 'editor.inlinecomments' -->
  </div>

  <div class="nav-title">Document</div>
  <div class="items">
    <a>Instruments</a> <!-- 'editor.instruments' -->
    <a>Print and export</a> <!--  'editor.export', 'editor.print', 'editor.printpart','editor.multimeasurerests' -->
  </div>

  <div class="nav-title">Note mode</div>
  {% if page.editormode == 'notes' %}
  <div class="items">
    <a href="">Inputting notes</a> <!-- 'editor.addnote' / 'editor.changeduration' -->
    <a>Dotted notes</a> <!-- 'editor.dotted' -->
    <a>Grace notes</a> <!-- 'editor.graceNote' -->
  </div>
  {% endif %}

  <div class="nav-title">Articulation mode</div>
  {% if page.editormode == 'articulation' %}
  {% endif %}

  <div class="nav-title">Dynamic mode</div>
  {% if page.editormode == 'dynamic' %}
  {% endif %}

  <div class="nav-title">Measure mode</div>
  {% if page.editormode == 'measure' %}
  {% endif %}

  <div class="nav-title">Text mode</div>
  {% if page.editormode == 'text' %}
  <div class="items">
    <a>Lyrics</a> <!--'editor.lyrics','editor.multilineslyrics','editor.lyricsspaces','editor.lyricshyphens'-->
    <a>Chords</a> <!--'editor.chords'-->
    <a>Expressions & Annotations</a> <!-- 'editor.annotation' -->
  </div>
  {% endif %}

  <div class="nav-title">MIDI</div>
  <div class="items">
    <a>Setup my MIDI device</a> <!-- 'editor.midistart' -->
    <a>MIDI Output</a> <!-- 'editor.midioutput' -->
  </div>
</div>