<div class="sidenav">
  <a class="nav-title">General</a>
  <div class="items">
    <a href="{{site.baseurl}}/en/general/" class="{% if page.pid == 'faq' %}active{% endif %}">FAQ</a>
  </div>

  <div class="nav-title">Support & Platform</div>
  <div class="items">
    <a href="{{site.baseurl}}/en/general/support.html" class="{% if page.pid == 'support' %}active{% endif %}">Get help and support</a>
    <a href="https://flat.io/legal">Legal information</a>
    <a href="{{site.baseurl}}/en/general/technical-requirements.html" class="{% if page.pid == 'techreq' %}active{% endif %}">Technical requirements</a>
    <a href="{{site.baseurl}}/en/general/data-infrastructure.html" class="{% if page.pid == 'data-infra' %}active{% endif %}">Data & Infrastructure</a>
  </div>
</div>