<div class="nav-search">
  <div id="search-box"></div>
  <div id="hits"></div>
  <script>
    window.addEventListener('load', function () {
      var locale = '{{page.locale}}';
      if  (locale.length === 0) {
        locale = 'en';
      }
      var search = instantsearch({
        appId: '4NUHS4DS6H',
        apiKey: '5610d85268f93eafca9a82d8de096ca4',
        indexName: 'production_help_en',
        searchParameters: {
          facetsRefinements: {
            locale: [locale],
          },
        }
      });

      search.addWidget(
        instantsearch.widgets.configure({
          hitsPerPage: 10,
        })
      );

      search.addWidget(
        instantsearch.widgets.searchBox({
          container: '#search-box',
          placeholder: 'What can we help you with? Search for a topic or question…',
          autofocus: false,
        })
      );

      var svgArrowRight = '<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M0 8c0 4.42 3.582 8 8 8s8-3.58 8-8-3.582-8-8-8-8 3.58-8 8zm8 7c-3.866 0-7-3.13-7-7s3.134-7 7-7 7 3.13 7 7-3.134 7-7 7zm2.324-7.38L6.346 3.64c-.195-.19-.51-.19-.703 0-.194.2-.194.51 0 .7L9.298 8l-3.655 3.65c-.194.2-.194.51 0 .71.194.19.508.19.703 0l3.975-3.98c.013-.01.026-.01.036-.02.1-.1.146-.23.145-.36.002-.13-.045-.26-.144-.36-.01-.01-.022-.01-.032-.02z" fill="#363c50" fill-rule="evenodd"/></svg>';
      search.addWidget(
        instantsearch.widgets.hits({
          container: '#hits',
          templates: {
            empty: '<a class="hit-notfound" href="/help/support">' +
                  '<img src="/help/assets/img/home-email.svg">' +
                  '<div class="t">' +
                    '<div class="hit-title"><span>Ask our team</span>' + svgArrowRight + '</div>' +
                    '<div class="hit-content">We couldn\'t find the answer that you need in our help, but our team is here to help you. Drop us a line and our product team will get back to you shortly.</div>' +
                  '</div>' +
                '</a>',
            item: function (hit) {
              hit._highlightResult.title = hit._highlightResult.title || { value: hit.slug || 'Untitled' };
              hit._highlightResult.html = hit._highlightResult.html || { value: '' };
              return '<div class="hit" onclick="location.href = \'/help' + hit.url + '\';return false">' +
                '<a class="hit-title" href="/help' + hit.url + '"><span>' + hit._highlightResult.title.value + '</span>' + svgArrowRight + '</a>' +
                '<div class="doc-content hit-content">' + hit._highlightResult.html.value + '</div>' +
                '</div>';
            }
          },
        })
      );
      
      search.addWidget(
        instantsearch.widgets.analytics({
          pushFunction: function (formattedParameters, state, results) {
            window.ga('set', 'page', '/help/search/?query=' + state.query + '&' + formattedParameters + '&numberOfHits=' + results.nbHits);
            window.ga('send', 'pageView');
          }
        })
      );

      var popper = new Popper(
        document.getElementById('search-box'),
        document.getElementById('hits'),
        {
          placement: 'bottom',
          modifiers: {
            preventOverflow: {boundariesElement: 'viewport'},
          },
        },
      );

      search.on('render', function () {
        var input = document.getElementsByClassName('ais-search-box--input');
        if (input.length > 0 && input[0].value.length > 0) {
          document.getElementById('hits').classList.add('open');
          popper.scheduleUpdate();
        }
        else {
          document.getElementById('hits').classList.remove('open');
        }
      });

      search.start();
    });
  </script>
</div>