<div class="sidenav">
  <a class="nav-title">Products</a>
  <div class="items">
    <a href="{{site.baseurl}}/en/general/" class="{% if page.pid == 'faq' %}active{% endif %}">Platform</a>
    <a href="{{site.baseurl}}/en/music-notation-software/">Web-based score editor</a>
    <a href="{{site.baseurl}}/en/education/">Flat for Education</a>
    <a href="https://flat.io/ios">Flat for iOS</a>
    <a href="{{site.baseurl}}/en/general/flat-for-google-docs-music-notation.html" class="{% if page.pid == 'gdocs' %}active{% endif %}">Flat for Google Docs</a>
    <a href="https://flat.io/ios">Embed and APIs</a>
  </div>

  <div class="nav-title">Support & Platform</div>
  <div class="items">
    <a href="{{site.baseurl}}/en/general/support.html" class="{% if page.pid == 'support' %}active{% endif %}">Get help and support</a>
    <a href="https://flat.io/legal">Legal information</a>
    <a href="{{site.baseurl}}/en/general/technical-requirements.html" class="{% if page.pid == 'techreq' %}active{% endif %}">Technical requirements</a>
    <a href="{{site.baseurl}}/en/general/data-infrastructure.html" class="{% if page.pid == 'data-infra' %}active{% endif %}">Data & Infrastructure</a>
  </div>
</div>