<div class="sidenav">
  <div class="items">
    <a href="{{site.baseurl}}/en/education/" class="{% if page.pid == 'edu' %}active{% endif %}">Overview</a>
  </div>

  <div class="nav-title">Classes</div>
  <div class="items">
    <a href="https://www.youtube.com/watch?v=21-n5gllaXQ&index=2&list=PLimLiLz1JZA0gE8fbW6lQUmaZOm5KiVo_" class="{% if page.pid == 'create-class' %}active{% endif %}">Create a class</a>
    <a href="https://www.youtube.com/watch?v=Q2uaiCfI_0U&list=PLimLiLz1JZA0gE8fbW6lQUmaZOm5KiVo_&index=3">Invite students</a>
  </div>


  <div class="nav-title">Assignments</div>
  <div class="items">
    <a href="https://www.youtube.com/watch?v=aWLg1Asoi7s&index=4&list=PLimLiLz1JZA0gE8fbW6lQUmaZOm5KiVo_">Create an assignment</a>
    <a href="https://www.youtube.com/watch?v=6CWdLX-GVzA&index=5&list=PLimLiLz1JZA0gE8fbW6lQUmaZOm5KiVo_">Use a score as a template</a>
    <a href="https://blog.flat.io/schedule-your-assignments/">Schedule an assignment</a>

  </div>

  <!-- <div class="nav-title">Admin</div>
  <div class="items">
  </div> -->

  <a class="nav-title" href="{{site.baseurl}}/en/education/google-classroom/">Google Classroom</a>
  <div class="items">
    <a href="{{site.baseurl}}/en/education/google-classroom/" class="{% if page.pid == 'gc-intro' %}active{% endif %}">Introduction</a>
    <a href="{{site.baseurl}}/en/education/google-classroom/setup-course.html" class="{% if page.pid == 'gc-setup-course' %}active{% endif %}">Setup a course</a>
    <a href="{{site.baseurl}}/en/education/google-classroom/create-music-notation-assignment.html" class="{% if page.pid == 'gc-create-assignment' %}active{% endif %}">Create an assignment</a>
    <a href="{{site.baseurl}}/en/education/google-classroom/student-experience.html" class="{% if page.pid == 'gc-student-experience' %}active{% endif %}">Experience as student</a>
    <!-- <a href="">Review submissions</a> -->
    <a href="{{site.baseurl}}/en/education/google-classroom/faq.html" class="{% if page.pid == 'gc-faq' %}active{% endif %}">FAQ</a>
  </div>

  <div class="nav-title">Integrations</div>
  <div class="items">
    <a href="https://blog.flat.io/flat-canvas/">Canvas</a>
    <a href="https://blog.flat.io/flat-schoology/">Schoology</a>
    <a href="https://blog.flat.io/new-partnership-with-clever/">Clever</a>
    <a href="https://blog.flat.io/easily-insert-music-notation-in-your-google-docs-slides/">Google Docs & Slides</a>
  </div>

  <div class="nav-title">Go further</div>
  <div class="items">
    <a href="https://blog.flat.io/certified-lti-provider-use-flat-with-your-favorite-lms/">Flat as a LTI Provider</a>
    <a href="https://blog.flat.io/flat-for-education-api/">Education API</a>
    <a href="{{site.baseurl}}/en/music-notation-embed">Embed your scores anywhere</a>
  </div>
</div>