<div class="nav">
  <div class="nav-left">
    <a href="/help/" class="logo">
      <img src="https://prod.flat-cdn.com/img/logo-white.svg" alt="Flat Help">
      <span class="help-center">Help</span>
    </a>
    <!-- <div class="items">
      <a href="/help/en/general" class="{% if page.nav == 'general' %}active{% endif %}">General</a>
      <a href="/help/en/music-notation-software" class="{% if page.nav == 'editor' %}active{% endif %}">Editor</a>
      <a href="/help/en/music-notation-embed" class="{% if page.nav == 'embed' %}active{% endif %}">Embed</a>
      <a href="/help/en/education" class="{% if page.nav == 'edu' %}active{% endif %}">Education</a>
    </div> -->
    {% if page.pid != 'home' %}
    {% include nav-search.html %}
    {% endif %}
  </div>
  <div class="items nav-right">
    {% if page.pid != 'support' %}<a href="/help/support">Contact us</a>{% endif %}
    <a href="https://flat.io/auth" class="user-dashboard" id="user-signin">
      <span class="text">Sign in</span>
    </a>
    <a href="https://flat.io/dasboard" class="user-avatar" id="user-avatar">
      <img src="https://prod.flat-cdn.com/img/avatars/default.png" id="user-avatar-img">
    </a>
  </div>
</div>
