<div class="nav">
  <div class="nav-left">
    <div class="logo">
      <a href="/">
        <img src="https://prod.flat-cdn.com/img/logo-white.svg" alt="Flat Help" class="large">
        <img src="https://prod.flat-cdn.com/img/logo-f-white.svg" alt="Flat Help" class="small">
      </a>
      <a href="/help" class="help-center">Help</a>
    </div>
    {% if page.pid != 'home' %}{% include nav-search.html %}{% endif %}
  </div>
  <div class="items nav-right">
    {% if page.pid != 'home' %}{% include nav-categories.html %}{% endif %}
    {% if page.pid != 'support' %}<a href="/help/support">Contact us</a>{% endif %}
    <a href="https://flat.io/auth" class="user-dashboard" id="user-signin">
      <span class="text">Sign in</span>
    </a>
    <a href="https://flat.io/dasboard" class="user-avatar" id="user-avatar">
      <img src="https://prod.flat-cdn.com/img/avatars/default.png" id="user-avatar-img">
    </a>
  </div>
</div>
