@text-color: #4d566d;
@text-content: #181a21;
@text-dark: #363C50;
@link-color: #268FF4;
@code-inline: #70b70b;
@font-bold: 700;

@flat-divider: #E7E8EC;
@flat-blue-darkest: @text-dark;
@flat-grey-dark: @text-color;
@font-stack-alt: "Open Sans", Arial, sans-serif;