---
layout: default
---

{% if page.nav == 'general' %}{% include nav-general.html %}
{% elsif page.nav == 'edu' %}{% include nav-edu.html %}
{% elsif page.nav == 'embed' %}{% include nav-embed.html %}
{% elsif page.nav == 'editor' %}{% include nav-editor.html %}{% endif %}

<div class="page {{page.cssPage}}">
  {%- unless page.notitle %}
  <div class="page-title">
    <h1>{{ page.title }}</h1>
    {% include locales-selector.html %}
  </div>
  {%- endunless %}

  {{ content }}

  {% if page.nexturl and page.nexttext %}
  <div class="doc-footer">
    <a href="{{site.baseurl}}/{{page.nexturl}}" title="Next: {{page.nexttext}}" class="doc-next">
      <span>{{page.nexttext}}</span>
      <img src="/help/assets/img/arrow-next.svg">
    </a>
  </div>
  {% endif %}
  <a class="doc-more-help" href="/help/support">
    <img src="/help/assets/img/support-email.svg" alt="Contact us">
    <div class="t">Can’t find your answer? Get in touch with our team — we're here to help. <strong>Contact us &rarr;</strong>
    </div>
  </a>
</div>

<script>
  function anchorForId(id) {
    var anchor = document.createElement('a');
    anchor.className = 'header-link';
    anchor.href = '#' + id;
    anchor.innerHTML = '<img src="https://flat.io/img/icons/_common/link.svg">';
    return anchor;
  };
  function linkifyAnchors(level, containingElement) {
    var headers = containingElement.getElementsByTagName('h' + level);
    for (var h = 0; h < headers.length; h++) {
      var header = headers[h];
      if (typeof header.id !== 'undefined' && header.id !== '') {
        header.appendChild(anchorForId(header.id));
      }
    }
  };
  document.addEventListener('DOMContentLoaded', function () {
    var contentBlock = document.getElementsByClassName('doc-content')[0];
    if (contentBlock) {
      for (var level = 1; level <= 3; level++) {
        linkifyAnchors(level, contentBlock);
      }
    }
  });
</script>
