---
layout: default
---

{% if page.nav == 'general' %}{% include nav-general.html %}
{% elsif page.nav == 'edu' %}{% include nav-edu.html %}
{% elsif page.nav == 'editor' %}{% include nav-editor.html %}{% endif %}

<div class="page">
  {% unless page.notitle %}<h1>{{ page.title }}</h1>{% endunless %}
  <div class="doc-content">{{ content }}</div>
  {% if page.nexturl and page.nexttext %}
  <div class="doc-footer">
    <a href="{{site.baseurl}}/{{page.nexturl}}" title="Next: {{page.nexttext}}" class="doc-next">
      <span>{{page.nexttext}}</span>
      <img src="/help/assets/img/arrow-next.svg">
    </a>
  </div>
  {% endif %}
</div>